<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col text-center">
                <h1>Descripción del proyecto</h1>
            </div>
        </div>
    </div>
</template>